<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, place_holder: "Compose new micropost..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-large-primary" %>
    <span class="countdown"></span>
<% end %>