<div class="center hero-unit">
  <h1>Lu's homepage</h1>
  <p> This will be my homepage </P>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag('rails.png', alt: 'rails'), 'http://rubyonrails.org/' %>
